.seventh-container {
    grid-column: span 3; 
    color: var(--black-color);
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;

    .sub_container {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        cursor: pointer;
        background: url('../../assets/joker-optimize.gif');
        background-color: rgba(70, 75, 203, 0.5);
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-blend-mode: overlay;

        & .link-icon {
            height: 2rem;
            position: absolute;
            top:1rem;
            right: 1rem;
            color: var(--black-color);
        }
    
        & h4 {
            font-size: 3rem;
        }
    
        & .mail-icon {
            font-size: 10rem;
        }
    
        & a {
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) { 
    .seventh-container {
        grid-column: 5 / span 2;
    }
}