.eighth-container {
    grid-column: span 6; 
    background: url('../../assets//giphy.webp');
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform .2s;
    padding: .5rem;

    & > * {
      font-size: 4rem;
      color: #39ff14;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media (min-width: 768px) { 
    .eighth-container {
      grid-column: span 3;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      gap: 1rem;
      background-repeat: no-repeat;
      background-size: cover;

      & > * {
        font-size: 6rem;
        
      }
    }
  }