.second-container {
    /* padding: 2rem 1rem; */
    background: linear-gradient(135deg, #00feba, #5b548a);
    grid-column: span 3; 
    grid-row: 3/4;
    color: var(--black-color);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;  
    padding: 1rem;
    /* animation: fadein 2s; */

    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      & h3 {
        font-weight: bold;
        font-size: 1rem;
      }

      & p {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 2rem;
      }

      & span {
        font-size: 1rem;
      }
    }

    & img {
      height: 6rem;
      animation: flying 2s ease-in-out infinite;
    }
  }

  @keyframes flying {
    0% {
      transform: translateY(0%);
    }

    50%{
      transform: translateY(20%);
    }

    100%{
      transform: translateY(0%);
    }
  }

  @media (min-width: 480px) { 
      .second-container{
        grid-row: 2/3;

        & div {
          & h3 {
            font-size: 1.5rem;
          }

          & p {
            font-size: 3rem;
          }

          & span {
            font-size: 1.5rem;
          }
        }

        & img {
          height: 8rem;
        }
      }

  }

  @media (min-width: 768px) { 
    .second-container {
      grid-column: 5/span 2; 
      padding: 2rem;
      grid-row: 3;

      & div {
        & h3 {
          font-size: 2rem;
        }
  
        & p {
          font-size: 4rem;
        }
  
        & span {
          font-size: 2rem;
        }
  
      }

      
      & img {
        top: 2rem;
        right: 2rem;
        height: 15rem;
      }
    }
  }