.first-container {
    grid-column: span 6; 
    text-align: center;
    background-color: var(--container-1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    gap: 2rem;
    color: white;
    aspect-ratio: 1/0.5;
    text-shadow: 
      0 0 5px #ebc9c8, 
      0 0 10px #ebc9c8, 
      0 0 15px #ebc9c8, 
      0 0 20px #ebc9c8;

      & .title-name {
        font-size: 3rem;
        font-weight: 800;
        width: 100%;
        grid-column: span 4;
        text-wrap: wrap;
        text-align: center;
        place-self: center;
      }
  
      & p {
        font-size: 2rem;
        grid-column: span 2;
        place-self: center;
      }

    & .img-container {
      grid-row: 2/3;
      grid-column: span 2;
      display: grid;
      place-content: center;

      & img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 480px) { 
    .first-container {
      & .title-name {
        font-size: 4rem;
      }

      & p {
        font-size: 3rem;
        grid-column: 2/5;
      }

      & .img-container {
        grid-column: 1/2;
        place-self: center;
        margin-left: 10%;
      }
    }
  }

  @media (min-width: 768px) { 
    .first-container {
      grid-column: span 4;
      padding: 4rem;

      & .title-name {
        grid-column: 1/5;
        font-size: 4rem;
      }

      & p {
        grid-column: 2/5;
        font-size: 2.5rem;
      }

      & .img-container {
        grid-column: 1/2;

        & img {
          height: 15rem;
          width: 15rem;
        }
      }
    }
  }

  