.loader {
    height: 50px;
    width: 50px;
    border: 5px solid #000;
    border-bottom-color: #FFF;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    display: inline-block;
    box-sizing: border-box;
  }
  
  @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }