.fourth-container {
    grid-column: span 3; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    color: var(--black-color);
    aspect-ratio: 1/1;

      & > div { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        grid-column: span 1;
        width: 100%;
        font-weight: bold;
      }

      & .fourth-child-1 {
        & p {
          font-size: 2rem;
        }
      }
      & .fourth-child-2 > svg {
        cursor: pointer;
        font-size: 4rem;
        transition: transform .2s;

        &:hover {
          transform: scale(1.1);
        }
      }
  }

  @media (min-width: 480px) { 
      
  }

  @media (min-width: 768px) { 
    .fourth-container {grid-column: span 2;}
  }