.ninth-container {
    grid-column: span 6; 
    /* background-color: yellowgreen; */
    background-color: var(--container-9);
    text-align: start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    color: var(--black-color);
    /* animation: fadein 5s; */

    & h2 {
      font-size: 3rem;
    }

    & p {
      font-size: 1.25rem;
    }
}

@media (min-width: 768px) { 
  .ninth-container {
    grid-column: span 6;
    padding: 2rem 2rem;

    & h2 {
      font-size: 5rem;
    }

    & p {
      font-size: 1.5rem;
    }
  }
}
