.ninth-container {
    grid-column: span 6; 
    background-color: yellowgreen;
    text-align: start;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    color: var(--black-color);

    & h2 {
      font-size: 3rem;
    }

    & p {
      font-size: 1.25rem;
    }
}

@media (min-width: 768px) { 
  .ninth-container {
    grid-column: span 4;
    padding: 1rem 2rem;

    & h2 {
      font-size: 5rem;
    }

    & p {
      font-size: 1.5rem;
    }
  }
}
