.time-container {
    grid-column: span 3; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    color: var(--black-color);
    aspect-ratio: 1/1;
    background-color:rgb(47, 25, 86);

      & .__content { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        grid-column: span 1;
        width: 100%;
        font-weight: bold;

        & p {
          font-size: 3rem;
        }
      }
  }

  @media (min-width: 768px) { 
    .time-container {grid-column: span 2;}
  }