.contactMe-container {
    grid-column: span 3; 
    color: var(--black-color);
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;

    .__sub-container {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        cursor: pointer;
        background: url('https://i.pinimg.com/originals/0b/0e/d9/0b0ed96ddad0cdbd8e4aabfaf2ff1a10.gif');
        background-color: rgba(70, 75, 203, 0.5);
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-blend-mode: overlay;

        & .__link-icon {
            height: 2rem;
            position: absolute;
            top:1rem;
            right: 1rem;
            color: var(--black-color);
        }
    
        & .__mail-icon {
            font-size: 10rem;
        }
    
        & a {
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) { 
    .contactMe-container {
        grid-column: 5 / span 2;
    }
}