.fixed-background {
    position:fixed;
    inset:0;
    background-color:#000;
    opacity:.5;
    z-index:50;
    display:flex;
    justify-content:center;
    align-items:center;
}

    & .modal-container {
        position:fixed; 
        inset:0; 
        z-index:100; 
        display:flex; 
        justify-content:center; 
        align-items:center;

        & .__motion-container {
            width:40rem; 
            height:55rem; 
            padding:2rem; 
            background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
            color: var(--black-color);
            z-index:100; 
            opacity:1; 
            border-radius:2rem;

            & .__video-container {
                margin:auto;
                display:grid;
                place-content:center;
                font-size:5rem;
                border-radius: 3rem;
                overflow: hidden;

                & .__project-image {
                    height: 30rem;
                    width: 35rem;
                    object-fit: fill;
                }
            }

            & .__details-container {
                display:flex;
                align-items:center;
                margin:1rem auto;
                padding: 2rem;

                & .__details-subContainer {
                    flex:1;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;

                    & .__techsContainer {
                        margin-bottom:1rem;
                        font-size:3rem;
                        width:70%;
                        display:grid;
                        grid-template-columns:1fr 1fr 1fr;
                        place-items:center;

                        & .__techsSubContainer {
                            display:grid;
                            grid-template-columns:repeat(8,1fr);
                            gap:.5rem;
                        }
                    }

                    & .__infoContainer {
                        font-size:1.3rem;
                        padding-right: 2.5rem;
                        text-align: left;
                    }
                }

                & .__link-icon{
                    font-size:3rem;
                    cursor:pointer;
                    transition: transform .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .react-icon {
        font-size: 2.5rem; 
        color: skyblue;
    }
    .js-icon {
        font-size: 2.5rem; 
        color: yellow;
        background-color: #000;
    }
    .css-icon {
        font-size: 2.5rem; 
        color: blue;
    }
    .html-icon {
        font-size: 2.5rem; 
        color: orange;
    }
    .node-icon {
        font-size: 2.5rem; 
        color: green;
    }
    .mongo-icon {
        font-size: 2.5rem; 
        color: green;
    }
    .stripe-icon {
        font-size: 2.5rem; 
        color: purple;
    }
    .express-icon {
        font-size: 2.5rem; 
        color: green;
    }
    .firebase-icon {
        font-size: 2.5rem; 
        color: red;
    }
    .framer-icon {
        font-size: 2.5rem; 
        color: purple;
    }
    .redux-icon {
        font-size: 2.5rem; 
        color: purple;
    }
