.github-container {
    grid-column: span 6; 
    position: relative;
    height: 18rem;
    width: 100%;
    overflow:hidden;
    cursor: pointer;

    & .__sub-container{
      height: 100%;
      width: 100%;
      background-color: #5260d0;

      & .__paragraph {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
        color: var(--black-color);
        z-index: 20;
        position: absolute;
        top: 2rem;
        left: 2rem;
        max-width: 70%;
      }

      & .__link-icon {
        height: 2rem;
        position: absolute;
        top: 1rem;
        right: .5rem;
        color: var(--black-color);
        z-index: 20;
      }
  
      & img {
        position: absolute;
        height: 111%;
        width: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
        mix-blend-mode:overlay;
      }
  
      & .__github-icon {
        font-size: 4rem;
        color: var(--black-color);
        z-index: 20;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }
  }

  @media (min-width: 480px) { 
      .github-container {
        grid-column: span 3;
        grid-row: span 2;
        height: 100%;
        display: grid;

        & .__sub-container {
          display: flex;
          justify-content: center;
          align-items: center;

          & .__paragraph {
            font-size: 3rem;
            top: 5rem;
          }

          & .__github-icon {
            right: 1rem;
          }
        }
    }
  }

  @media (min-width: 768px) { 
      .github-container {
        grid-column: span 2;
        grid-row:span 1;

        & .__sub-container {

          & .__paragraph {
            font-size: 3rem;
          }
        }
      }
  }

