.skills-container {
    grid-column: span 3; 
    grid-row: 2;
    background: url('../../assets//giphy.webp');
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: overlay;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    gap: 1.2rem;
    padding: 2rem;
    aspect-ratio: 1/1;

    & .__skill-icon {
      transition: transform .3s;
      place-self: center;
    }

    & > * {
      font-size: 3.7rem;
      color: #39ff14;
      cursor: pointer;
      transition: all 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media (min-width: 480px) { 
      .skills-container {
        /* grid-row: 1; */
        & .react-icon {
          font-size: 6rem;
        }
      }
  }

  @media (min-width: 768px) {
    .skills-container {
      grid-column: 5/span 2;
      grid-row: 1;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      gap: 1rem;
      background-repeat: no-repeat;
      background-size: cover;

      & > * {
        font-size: 6rem;
        
      }
    }
  }