.linkedin-container {
    grid-column: 4/span 3;
    grid-row: 2;
    background-color: rgb(10, 102, 194);
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 1/1;
    position: relative;

    & .__sub-container{
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        color: var(--black-color);

        & .__link-icon {
            height: 2rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        & .__linkedin-icon {
            font-size: 7rem;
        }
    }
}

@media (min-width: 768px) { 
    .linkedin-container {
        grid-column: 3 / span 2;
        grid-row: 3;
    }
}