.main_cv_container {
    grid-column: span 3;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 1/1;
    color: var(--black-color);
    background-color: rgb(58, 58, 210);

    & .__sub-container {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        position: relative;

        & .__link-cv {
            font-size: 10rem;
        }
    
        & .__link-icon {
            height: 2rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

@media (min-width: 768px) { 
    .main_cv_container {
        grid-column: 3/span 2;
    }
}