.ninth-container {
    grid-column: span 6; 
    background-color: var(--container-9);
    text-align: start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    color: var(--black-color);
    aspect-ratio: 1/0.5;

    & ._title {
      font-size: min(3.5rem,5.5vw);
    }

    & ._paragraph {
      font-size: min(2.2rem,2.8vw);
    }
}

@media (min-width: 480px) { 
    .ninth-container {
      grid-row: 7;
    }
}

@media (min-width: 768px) { 
  .ninth-container {
    grid-column: 1 / span 4;
    grid-row: 5/6;
    padding: 2rem 2rem;
  }
}
